{% extends 'base.html.twig' %}

{% block title %}ulema - blog personnel{% endblock %}

{% block body %}
    <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Tous les articles 💪</h2>
        

<div class="row">
    {% for article in articles %}
    {% set contenueArticleTruncate = article.content | u.truncate(100, '...', false) %}
  <div class="col-sm-6 mt-3">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <p class="card-text">{{ contenueArticleTruncate | raw  }}</p>
        <p class="card-text"><small class="text-muted">{{ article.date|format_date('full') }}</small></p>
        <a href="{{ path('app_article_show', { 'slug' : article.id }) }}" class="btn btn-primary">Lire 📖</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

    </div>
{% endblock %}


