{% extends 'base.html.twig' %}

{% block title %}ulema - Liste des categories{% endblock %}

{% block body %}
<div id="content" class="p-4 p-md-5 pt-5">

    <div class="row d-flex align-items-center">
        <div class="col">
            <h1>Catégories</h1>
        </div>
        <div class="col">
            <div class="float-end">
                <a class="btn btn-outline-secondary" href="{{ path('app_category_new') }}">Ajouter une catégorie</a>
            </div>
        </div>
    </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>
                           <div class="d-flex flex-row">
                                <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-outline-warning me-2">
                                    <i class="fas fa-edit"></i>
                                </a>
                                {{ include('category/_delete_form.html.twig') }}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}

