{% extends 'base.html.twig' %}

{% block title %}ulema - Nouvelle catégorie{% endblock %}

{% block body %}
<div id="content" class="p-4 p-md-5 pt-5">
    <div class="row d-flex align-items-center">
        <div class="col">
            <h1>Créer une catégorie</h1>
        </div>
        <div class="col">
            <div class="float-end">
                <a class="btn btn-outline-secondary" href="{{ path('app_category_index') }}">Retour</a>
            </div>
        </div>
    </div>
    {{ include('category/_form.html.twig') }}
</div>

{% endblock %}