{% block slugger_widget %}
    <div class="input-group">
        {{- form_widget(form) -}}
        <button class="btn btn-outline-secondary" type="button">
            <i class="fa fa-lock"></i>
        </button>
    </div>
{% endblock %}
