{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}

<div class="text-center">
    <main class="form-signin">
        <h1 class="h3 mb-3 fw-normal">Register</h1>
        {{ form_start(form) }}
            {{ form_rest(form) }}
            <button class="btn btn-primary" type="submit">S'enregistrer</button>
        {{ form_end(form) }}
    </main>
</div>

{% endblock %}

