$font-primary: 'Poppins',Arial, sans-serif;
$primary: #001219;
$black: black;
$white: white;
$red: #e63946;
$green: #38b000;

body{
	font-family: $font-primary;
	font-size: 14px;
	line-height: 1.8;
	font-weight: normal;
	background: #fff;
	color: lighten($black,50%);
}
a {
	transition: .3s all ease;
	text-decoration: none !important;
	color: $primary;
	&:hover, &:focus {
		outline: none !important;
		box-shadow: none;
	}
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
	background-color: $red;
	color: $white !important;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
	background-color: $green;
	color: $white !important;
}

button {
	transition: .3s all ease;
	&:hover, &:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none !important;
	}
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	font-weight: 400;
	font-family: $font-primary;
	color: $black;
}


.ftco-section{
	padding: 7em 0;
}

.ftco-no-pt{
	padding-top: 0;
}
.ftco-no-pb{
	padding-bottom: 0;
}
//HEADING SECTION
.heading-section{
	font-size: 28px;
	color: $black;
	small{
		font-size: 18px;
	}
}

//COVER BG
.img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}


//SIDEBAR
.wrapper {
  width: 100%;
}

#sidebar {
  min-width: 270px;
  max-width: 270px;
  // background: $primary;
  color: #fff;
  transition: all 0.3s;
  position: relative;
  z-index: 0;
  border-left: 1px solid rgba(0,0,0,.05);
  .h6{
  	color: $white;
  }
  &.active{
  	margin-left: -270px;
  }
  ul.components{
  	padding: 0;
  }
  ul{
    li{
    	font-size: 14px;
    	>ul{
    		margin-left: 10px;
    		li{
    			font-size: 13px;
    			a{
    				border-bottom: 1px solid transparent;
    				span{
    					color: $black;
    				}
    			}
    		}
    	}
    	a{
    		padding: 10px 0;
		    display: block;
		    color: rgba(0,0,0,1);
		    border-bottom: 1px solid rgba(0,0,0,.05);
		    span{
		    	color: $white;
		    }
    	}
    	&.active{
    		> a{
    			background: transparent;
    			color: $primary;
    		}
    	}
    }
  }

  .custom-menu{
		display: inline-block;
		position: absolute;
		top: 20px;
		right: 0;
		margin-right: -20px;
		.btn{
			width: 60px;
			height: 60px;
			border-radius: 50%;
			position: relative;
			i{
				margin-right: -40px;
				font-size: 14px;
			}
			&.btn-primary{
				background: transparent;
				border-color: transparent;
				&:after{
					z-index: -1;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					content: '';
				  transform: rotate(45deg);
				  background: $primary;
				  border-radius: 10px;
				}
				&:hover, &:focus{
					background: transparent !important;
					border-color: transparent !important;
				}
			}
		}
  }
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}


#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  transition: all 0.3s;
}


.btn{
	&.btn-primary{
		background: $primary;
		border-color: $primary;
		&:hover, &:focus{
			background: $primary !important;
			border-color: $primary !important;
		}
	}
}

.footer{
	p{
		color: rgba(255,255,255,.5);
	}
}


.tagcloud {
	a {
		text-transform: uppercase;
		display: inline-block;
		padding: 4px 10px;
		margin-bottom: 7px;
		margin-right: 4px;
		border-radius: 4px;
		color: $black;
		border: 1px solid #ccc;
		font-size :11px;
		&:hover {
			border-color:$primary;
			background: $primary;
			color: $white;
		}
	}
}


.form-control {
	height: 44px!important;
	background: $white;
	color: $black !important;
	font-size: 13px;
	border-radius: 4px;
	box-shadow: none !important;
	border: transparent;
	&:focus, &:active {
		border-color: $black;
	}
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: rgba(0,0,0,.7);
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: rgba(0,0,0,.7);
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: rgba(0,0,0,.7);
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: rgba(0,0,0,.7);
	}
}


.subscribe-form{
	.form-control{
		border: 1px solid rgba(0,0,0,.05);
	}
}