<nav id="sidebar">
                <div class="p-4 pt-5">
                    <a href="{{ path('app_home') }}"><img type="image/png" src="{{ asset('build/images/favicon.png') }}" class="img-fluid rounded mx-auto d-block"></a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <h5>Panel Administrateur</h5>
                        <p class="text-dark"> 🧑‍💻 mail : {{ app.user.email }}</p>
                            <ul class="list-unstyled components mb-5">
                                <li>
                                    <a href="{{ path('app_article_index') }}">Articles 📚</a>
                                    <a href="{{ path('app_category_index') }}">Catégories 🗄</a>
                                    <a class="text-danger" href="{{ path('app_logout') }}">Se déconnecter 👋</a>
                                </li>
                            </ul>
                    {% endif %}

                    <h5>Catégories : </h5>
                    <ul class="list-unstyled components mb-5">
                        <li>
                            {% for category in categories %}
                            <a href="{{ path('app_category_show', { 'slug' : category.id }) }}">{{ category.name }}</a>
                            {% endfor %}
                        </li>
                    </ul>
                    <div class="mb-5">
                        <h5>Ici on parle surtout de :</h5>
                        <div class="tagcloud">
                            <a href="" class="tag-cloud-link">Programmation</a>
                            <a href="#" class="tag-cloud-link">PHP</a>
                            <a href="#" class="tag-cloud-link">Développement Web</a>
                            <a href="#" class="tag-cloud-link">Symfony</a>
                            <a href="#" class="tag-cloud-link">Expérience Pro</a>
                            <a href="#" class="tag-cloud-link">Programmation Orientée Objet</a>
                            <a href="#" class="tag-cloud-link">Bug</a>
                            <a href="#" class="tag-cloud-link">UI / UX</a>
                        </div>
                    </div>
                    <div class="mb-5">
                        <h5>Pas le temps de cultiver de la haine.</h5>
                    </div>
                </div>
            </nav>