<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="title" content="@@title">

        <link rel="icon" type="image/image/x-icon" href="{{ asset('build/images/favicon.ico') }}">
        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}ulema -  blog personnel{% endblock %}</title>
        {# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> #}

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container d-md-flex align-items-stretch">
            <div id="content">
                {% include '_components/_flash_message.html.twig' %}
                {% block body %}{% endblock %}
            </div>
            {{ include('_components/_sidebar.html.twig') }}
        </div>
    </body>
</html>


