<form method="post" action="{{ path('app_article_delete', {'id': article.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
