{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="row mt-5">
            <div class="col">
                <button class="float-end btn btn-success">{{ button_label|default('Enregistrer') }}</button>
            </div>
        </div>
{{ form_end(form) }}
