{% extends 'base.html.twig' %}

{% block title %}ulema - Liste des Articles{% endblock %}

{% block body %}
<div id="content" class="p-4 p-md-5 pt-5">

    <div class="row d-flex align-items-center">
        <div class="col">
            <h1>Articles</h1>
        </div>
        <div class="col">
            <div class="float-end">
                <a class="btn btn-outline-secondary" href="{{ path('app_article_new') }}">Ajouter un article</a>
            </div>
        </div>
    </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Date de publication</th>
                    <th scope="col">Catégorie lié</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.title }}</td>
                        <td>{{ article.date|format_date() }}</td>
                        <td>{{ article.category }}</td>
                        <td>
                           <div class="d-flex flex-row">
                                <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn btn-outline-warning me-2">
                                    <i class="fas fa-edit"></i>
                                </a>
                                {{ include('article/_delete_form.html.twig') }}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}

