{% extends 'base.html.twig' %}

{% block title %}ulema - Nouvel Article{% endblock %}

{% block body %}
<div id="content" class="p-4 p-md-5 pt-5">
    <div class="row d-flex align-items-center">
        <div class="col">
            <h1>Créer un Article</h1>
        </div>
        <div class="col">
            <div class="float-end">
                <a class="btn btn-outline-secondary" href="{{ path('app_article_index') }}">Retour</a>
            </div>
        </div>
    </div>
    {{ include('article/_form.html.twig') }}
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ckeditor') }}
{% endblock %}