{% extends 'base.html.twig' %}

{% block title %}ulema - Article - {{article.title}} {% endblock %}

{% block body %}
<div id="content" class="p-4 p-md-5 pt-5">

    <div class="row d-flex align-items-center">
        <div class="col">
            <h1>{{ article.title }}</h1>
        </div>
        <div class="col">
            <div class="float-end">
                <a class="btn btn-outline-secondary" href="{{ path('app_home') }}">Retour</a>
            </div>
        </div>
    </div>
    
<div class="container px-4 mt-5">
  <div class="row gx-5">
    <div class="col">
      <div class="p-3 border bg-light">{{ article.content | raw  }}</div>
    </div>
  </div>
</div>

</div>
{% endblock %}